
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: #8E00CD;
    text-transform: capitalize;
}

h3 {
    text-align: center;
    background-color: #8E00CD;
    text-transform: capitalize;
}

a {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid;
    border-radius: 22px;
    margin: 10px 30px;
    padding: 10px;

}

img {
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-right: 20px;
    line-height: 1.4;
    text-align: justify;
    text-indent: 5%;
}

ul {
    text-align: center;
    margin-right: 20px;
    line-height: 1.8;
    list-style: none;
}


.pic {
    display: flex;
    flex-direction: column;
}

.logo {
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.foot {
    text-indent: 0%;
}


#place-img {
    margin: auto;
}

#container-1 {
    position: sticky;
    top: 126px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    height: 40px;
    width: 400px;
    background-color: #8E00CD;
}

#container-2 {
    position: sticky;
    top: 83px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    height: 40px;
    width: 300px;
    background-color: #8E00CD;
}

#container-3 {
    position: sticky;
    top: 40px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    height: 40px;
    width: 300px;
    background-color: #8E00CD;
}


footer {
    border-top: 1px solid whitesmoke;
    display: block;
}

div {
height: 500px;
}

section {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    margin: 20px;
    padding: 40px;
    display: flex;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

}


header {
    text-align: center;
    display: block;
    background-color: #8E00CD;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 20px 0px 20px 0px;
}

nav {
    border-bottom: 1px solid whitesmoke;;
    margin: 0;
    padding: 10px;
}

main {
    position: relative;
}

body {
    background-image: linear-gradient(to right top, #8e00cd, #721fc2, #5829b5, #3f2da6,
     #262e96, #143c9b, #01489d, #00539e, #006fb0, #0088b6, #009fb2, #00b5aa);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
